main{
  width: 1120px;
  margin: 88px auto 137px ;
}
#header{
  margin-top: 0px;
}
#header-logo p{
  font-family: 'Open Sans',serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #E1624F;
  margin-bottom: 8px;
}
#header-logo h1{
  font-family: 'Open Sans',serif;
  font-size: 36px;
  color: #1B1B1B;
  margin-bottom: 40px;
}
#header-logo h1,h2{
  margin-top: 8px;
}
figure{
  margin: 0;
}
figure img{	
  width: 1120px;
  height: 660px;
  border-radius: 28px;
  margin-bottom: 24px;
}